$default_color: #fff;
$purple: #4f4f6f;
$dark_grey: #6a6a77;
$hover_button: #6e45e2;
$grey: #c2c9db;
$light_purple: #756edc;
$light_black: #6a6a77;
$black: #000000;
$roboto_bold: 'Roboto Bold',
'Arial',
sans-serif;
$roboto_regular: 'Roboto Regular',
'Arial',
sans-serif;