@import "variable";

@media only screen and (max-width: 1200px) {
    .navigation,
    .footer-menu {
        width: 100%;
        &__elem {
            margin-right: 20px;
        }
        &__link {
            font: 500 14px/14px Maven Pro;
        }
    }
    .cards {
        &__item {
            p {
                width: 85%;
                font: 400 14px/25px Maven Pro;
            }
        }
    }
    .info {
        h4 {
            font: 500 50px/36px Maven Pro;
        }
    }
}

@media only screen and (max-width: 992px) {
    .navigation {
        &__list {
            display: none;
        }
    }
    .burger-menu {
        display: block;
    }
    .header-intro {
        h1 {
            font-size: 70px;
        }
    }
}

@media only screen and (max-width: 882px) {
    .cards-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards__item {
        width: 70%;
        margin-bottom: 20px;
    }
    .info {
        h4 {
            font: 500 45px/36px Maven Pro;
        }
    }
}