@import "variable";

@media only screen and (max-width: 1200px) {
    .navigation,
    .footer-menu {
        width: 100%;
        &__elem {
            margin-right: 20px;
        }
        &__link {
            font: 500 14px/14px Maven Pro;
        }
    }
    .cards {
        &__item {
            p {
                width: 85%;
                font: 400 14px/25px Maven Pro;
            }
        }
    }
    .info {
        h4 {
            font: 500 50px/36px Maven Pro;
        }
    }
}

@media only screen and (max-width: 992px) {
    .navigation {
        &__list {
            display: none;
        }
    }
    .burger-menu {
        display: block;
    }
    .header-intro {
        h1 {
            font-size: 70px;
        }
    }
}

@media only screen and (max-width: 882px) {
    .cards-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards__item {
        width: 70%;
        margin-bottom: 20px;
    }
    .info {
        h4 {
            font: 500 40px/36px Maven Pro;
        }
    }
    .footer-menu {
        justify-content: center;
    }
    .footer-menu__list {
        display: none;
    }
}

@media only screen and (max-width: 741px) {
    .footer-info {
        flex-direction: column;
        &__social {
            padding: 20px 0;
        }
    }
    .info__button {
        margin: 20px 5px;
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 501px) {
    .header-intro {
        span {
            font: 700 12px/14px Maven Pro;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font: 300 15px/30px Maven Pro;
        }
    }
    .cards {
        &-wrapper {
            padding: 90px 30px;
        }
        &-description {
            p {
                font: 400 14px/28px Maven Pro;
            }
        }
        &__item {
            width: 100%;
        }
    }
}